body {
    margin: 0px;
    background-color: #3B3B3B;
    padding: 0px;
    font-family: sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

video{
    display: block;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

#title-bar {
    margin: 0px;
    background-color: #363636;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    z-index: 100;
    text-align: center;
}

h1 {
    color: rgb(226, 226, 226);
    text-decoration: none;
    display: block;
}

#artist {
    position: absolute;
    z-index: 102;
    right: 20px;
    top: 13px;
    height: 50px;
    width: 50px;
    
}
#artist-link-text {
    text-decoration: none;
    position: absolute;
    z-index: 102;
    right: 20px;
    bottom: 7px;
    width: 50px;
    font-size: 13px;
    font-weight: bold;
}

#background-gradation {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(66, 66, 66, 0.781), rgba(0, 0, 0, 0));
    height: 80px;
    z-index: -2;
}


#grid {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    text-align: center;
}



#chars-container {
    margin-top: 150px;
}

.char {
    margin-top: 0px;
    margin-bottom: 60px;
    position: relative;
    width: 160px;
    height: 480px;
    display: inline-block;
}


.char-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.char .index-gradation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    height: 100%;
    width: 100%;
}

.char .index-gradation:hover {
    opacity: 0.7;
}

.index-name-container {
    position: absolute;
    bottom: 5%;
    left: 0%;
    width: 100%;
    z-index: 11;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    pointer-events: none
}


@media(max-width: 1100px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 680px 1fr;
        text-align: center;
    }

    .char {
        width: 210px;
        height: 630px;
    }

}

@media(max-width: 680px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 600px 1fr;
        text-align: center;
    }

    .char {
        width: 190px;
        height: 570px;
    }
}

@media(max-width: 600px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 500px 1fr;
        text-align: center;
    }

    .char {
        width: 160px;
        height: 480px;
    }
    .index-name-container {
    font-size: 25px;
    }
}

@media(max-width: 500px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 400px 1fr;
        text-align: center;
    }

    .char {
        width: 125px;
        height: 375px;
    }

    h1 {
        padding-top: 10px;
        font-size: 25px;
    }
    video{
        width: 400px;
    }

}

@media(max-width: 400px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 350px 1fr;
        text-align: center;
    }

    .char {
        width: 100px;
        height: 300px;
    }
    .index-name-container {
        font-size: 20px;
    }

    h1 {
        padding-top: 10px;
        font-size: 25px;
    }
    video{
        width: 300px;
    }
}


@media(max-width: 350px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 300px 1fr;
        text-align: center;
    }

    .char {
        width: 80px;
        height: 240px
    }
    .index-name-container {
        font-size: 15px;
    }

    h1 {
        padding-top: 10px;
        font-size: 20px;
    }

    video {
        width: 280px;
    }
}

/* character page */

#grid-2 {
    margin: auto;
    margin-top: 160px;
    display: grid;
    max-width: 960px;
    grid-template-columns: 3fr 4fr;
}

#char-image {
    text-align: center;
    order: 2;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 700px;
}

#char-text-container {
    margin-left: 20px;
    margin-right: 20px;
    order: 1;
}

#char-main {
    color: rgb(223, 223, 223);
    margin-bottom: 200px;
}

.char-attribute {
    display: inline-block;
    color: rgb(161, 161, 161);
    width: 80px;
}

@media(max-width:1000px) {
    #grid-2 {
        display: block;
        max-width: 500px;
    }
}




/* artist page */

#artist-container {
    margin: auto;
    margin-top: 130px;
    max-width: 500px;
    padding: 20px;
}

#artist-image {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 200px;
}

#artist-main {
    padding-left: 50px;
}

@media(max-width:450px) {
    #artist-main {
        padding-left: 0px;
        font-size: 14px;
    }
}